In [1]:
import pandas as pd
import yfinance as yf
from webapp.fincalc.portfolio_analytics import calculate_stock_volatility, check_volatility_signal

In [2]:
yf.download(["IONQ", "QUBT", "RGTI", "QMCO"], period="1mo", progress=False)

YF.download() has changed argument auto_adjust default to True

Price           Close                                 High                    \
Ticker           IONQ       QMCO   QUBT    RGTI       IONQ       QMCO   QUBT
Date
2025-03-17  24.930000  21.490000  8.020  11.160  25.500000  21.590000  8.580
2025-03-18  22.680000  19.799999  8.630  10.260  24.459000  24.400000  9.300
2025-03-19  23.299999  19.629999  8.370   9.905  24.118999  22.840000  9.000
2025-03-20  21.139999  16.450001  7.390   8.990  24.500000  19.500000  8.370
2025-03-21  22.260000  16.719999  7.390   9.070  22.719999  18.600000  7.720
2025-03-24  26.120001  17.219999  8.750   9.780  26.320000  18.450001  8.790
2025-03-25  25.549999  16.219999  8.480   9.820  26.190001  17.639999  9.030
2025-03-26  24.799999  15.010000  8.010   9.180  27.830000  17.070000  8.880
2025-03-27  23.650000  15.390000  7.940   8.470  25.200001  16.990000  7.998
2025-03-28  22.850000  14.150000  8.450   8.150  23.660000  15.370000  8.540
2025-03-31  22.070000  14.380000  8.000   7.920  23.098000  14.580000  8.970
2025-04-01  23.190001  14.070000  7.760   7.810  24.620001  15.300000  8.400
2025-04-02  25.049999  13.110000  7.850   8.490  25.834999  13.830000  8.290
2025-04-03  23.250000  12.440000  7.570   8.150  23.778999  12.600000  7.680
2025-04-04  20.680000  11.350000  6.510   7.500  22.870001  12.000000  7.350
2025-04-07  22.750000  11.250000  6.770   8.330  24.000000  12.500000  7.060
2025-04-08  21.280001  10.480000  6.210   7.720  24.599001  12.480000  7.110
2025-04-09  26.370001  12.080000  6.850   9.390  26.559999  12.390000  7.060
2025-04-10  25.889999  11.080000  6.850   9.420  26.615000  11.860000  7.040
2025-04-11  26.090000  11.220000  6.840   9.100  27.250000  11.480000  7.020
2025-04-14  25.350000  12.190000  6.990   8.860  28.250000  12.300000  7.575
2025-04-15  24.844999  11.600000  6.785   8.555  26.075001  12.879900  7.080

Price                     Low                                 Open         \
Ticker        RGTI       IONQ       QMCO   QUBT    RGTI       IONQ   QMCO
Date
2025-03-17  11.400  24.030001  15.680000  7.740  10.650  24.980000  15.85
2025-03-18  11.180  22.635000  17.559999  7.250   9.900  23.650000  19.48
2025-03-19  10.820  22.180000  18.799999  7.931   9.650  23.590000  21.73
2025-03-20   9.835  20.610001  15.550000  7.055   8.680  23.325001  19.25
2025-03-21   9.140  20.860001  15.750000  6.330   8.450  20.959999  15.75
2025-03-24   9.830  23.080000  17.000000  7.670   9.280  23.230000  18.01
2025-03-25  10.020  25.040001  15.920000  8.230   9.470  25.770000  17.43
2025-03-26  10.310  24.660000  14.690000  7.800   9.090  26.730000  16.40
2025-03-27   9.190  23.445000  14.270000  7.580   8.410  24.090000  14.50
2025-03-28   8.419  21.920000  14.070000  7.305   7.782  23.660000  15.13
2025-03-31   8.295  21.500000  12.850000  7.650   7.680  21.670000  13.07
2025-04-01   8.127  22.219999  13.640000  7.350   7.510  24.309999  14.73
2025-04-02   8.920  22.690001  12.750000  7.471   7.550  23.080000  13.21
2025-04-03   8.310  22.530001  11.740000  7.110   7.910  23.125000  12.11
2025-04-04   7.783  19.370001  10.820000  6.310   6.980  22.600000  11.98
2025-04-07   8.780  18.809999   9.740000  6.000   6.860  19.610001  10.00
2025-04-08   8.960  20.650000  10.330000  6.105   7.520  24.049999  12.48
2025-04-09   9.460  21.361000  10.360000  5.910   7.700  21.875000  10.48
2025-04-10   9.740  24.450001  10.600000  6.520   8.850  25.330000  11.42
2025-04-11   9.540  25.371000  10.580000  6.522   8.690  26.240000  11.20
2025-04-14   9.700  24.750000  11.560000  6.760   8.780  27.700001  11.95
2025-04-15   8.960  24.665001  11.600000  6.710   8.450  25.590000  12.60

Price                        Volume
Ticker       QUBT    RGTI      IONQ     QMCO      QUBT      RGTI
Date
2025-03-17  8.520  11.290  30552900  6760500  79383500  92212100
2025-03-18  7.500  10.370  20876300  6859000  87234500  67931000
2025-03-19  8.650  10.625  16600500  3217000  39250400  49112000
2025-03-20  8.040   9.720  29478500  2146600  35758100  65312200
2025-03-21  6.510   8.500  21965900  2638300  28250000  58440000
2025-03-24  7.750   9.430  34724200  1605200  23793500  46779800
2025-03-25  8.635   9.560  17186900   913500  18595800  36323100
2025-03-26  8.560   9.890  29897400  1192200  15657200  41834000
2025-03-27  7.870   9.020  14119000  1164700  10672400  28869400
2025-03-28  7.725   8.400  15453500   571500  19074500  28049000
2025-03-31  8.020   7.770  15046800   655800  24269500  34826600
2025-04-01  8.200   8.105  22958100   588500  18944700  31044000
2025-04-02  7.500   7.590  25696300  1012700  13619600  44091200
2025-04-03  7.200   7.980  19912800   527500   9912400  29717500
2025-04-04  7.190   7.770  26829500   648300  12537600  36000000
2025-04-07  6.010   6.920  29250700   747200  11685400  49612500
2025-04-08  7.030   8.940  26233100   581400  11888800  42356600
2025-04-09  6.100   7.980  31936100   754300  16352900  56004100
2025-04-10  6.750   9.065  18742100   820400   9722700  41070600
2025-04-11  6.860   9.450  15810600   357500   7407200  27496000
2025-04-14  7.200   9.400  19153100   529000  11775100  23163400
2025-04-15  6.930   8.870   8048478   430483   5076703  14130072

In [25]:

# Define the stock tickers
tickers = ['IONQ', 'QUBT', 'RGTI', 'QMCO']

# Define the period for historical data (e.g., "1y" for one year)
period = "5d"

# Calculate the daily volatility (standard deviation of daily returns)
print(f"Calculating daily volatility for {tickers} over the past {period}...")
volatility_data = calculate_stock_volatility(tickers, period=period)

INFO:webapp.fincalc.portfolio_analytics:Calculating volatility for tickers: ['IONQ', 'QUBT', 'RGTI', 'QMCO'] over period: 5d
INFO:webapp.fincalc.portfolio_analytics:Volatility calculation complete: {'IONQ': np.float64(0.015279892213008316), 'QUBT': np.float64(0.02100428121929382), 'RGTI': np.float64(0.017321781740197557), 'QMCO': np.float64(0.0742604516568675)}

Calculating daily volatility for ['IONQ', 'QUBT', 'RGTI', 'QMCO'] over the past 5d...

In [26]:
volatility_data

{'IONQ': np.float64(0.015279892213008316),
 'QUBT': np.float64(0.02100428121929382),
 'RGTI': np.float64(0.017321781740197557),
 'QMCO': np.float64(0.0742604516568675)}

In [27]:


# Or use the default 5 days
signal_results_default = check_volatility_signal(tickers, volatility_data, recent_period="2d")

INFO:webapp.fincalc.portfolio_analytics:Checking volatility signal for tickers: ['IONQ', 'QUBT', 'RGTI', 'QMCO']
INFO:webapp.fincalc.portfolio_analytics:Fetching recent data for period: 2d for tickers: ['IONQ', 'QUBT', 'RGTI', 'QMCO']
INFO:webapp.fincalc.portfolio_analytics:Volatility signal check complete. Returning DataFrame.

In [28]:
signal_results_default

        latest_return     sigma  is_significant   status
ticker
IONQ        -0.015976  0.015280            True  Success
QUBT        -0.029328  0.021004            True  Success
RGTI        -0.032167  0.017322            True  Success
QMCO        -0.048056  0.074260           False  Success